<!-- item -->
<ul class="ly-side-menu">
<div class="ly-logo"></div>

<!-- first -->
<li class="ly-side-title" ng-init="toggle_list=false" ng-click="toggle_list = !toggle_list; toggle_love = false">
    <a href="javascript:void(0);">
        <i class="fa fa-paper-plane fa-fw ly-side-lg" ng-if="!leftPannel"></i>

        <span ng-if="!!leftPannel"><i class="fa fa-angle-right" ng-class="{true:'fa-angle-down', false: 'fa-angle-right'}[toggle_list]"></i>歌曲榜单</span>
    </a>
</li>

<div ng-class="{true: 'show', false: 'hide'}[toggle_list]" style="display: none">

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(1);">
    <i class="fa fa-lemon-o fa-fw ly-side-lg" ng-if="!leftPannel"></i>
    <span ng-if="!!leftPannel"><i class="fa fa-lemon-o"></i>新歌榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(2);">
    <i class="fa fa-thumbs-o-up fa-fw ly-side-lg" ng-if="!leftPannel" ></i>
    <span ng-if="!!leftPannel"><i class="fa fa-thumbs-up"></i>热歌榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(9);">
    <i class="fa fa-star-o  fa-fw ly-side-lg" ng-if="!leftPannel"></i>
    <span ng-if="!!leftPannel"><i class="fa fa-star"></i>雪碧音碰榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(20);">
    <i class="fa fa-bell-o fa-fw ly-side-lg" ng-if="!leftPannel"></i>
    <span ng-if="!!leftPannel"><i class="fa fa-bell"></i>华语金曲榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(21);">
    <i class="fa fa-globe fa-fw ly-side-lg" ng-if="!leftPannel"></i>
    <span ng-if="!!leftPannel"><i class="fa fa-globe"></i>欧美流行榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(24);">
    <i class="fa fa-tv fa-fw ly-side-lg" ng-if="!leftPannel"></i>
    <span ng-if="!!leftPannel"><i class="fa fa-tv"></i>影视金曲榜</span></a>
</li>

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlist(25);">
    <i class="fa fa-feed fa-fw ly-side-lg" ng-if="!leftPannel"></i>
   <span ng-if="!!leftPannel"><i class="fa fa-rss"></i>网络歌曲榜</span></a>
</li>
</div>

<!-- second -->
<li class="ly-side-title" ng-init="toggle_love=false" ng-click="toggle_love = !toggle_love; toggle_list = false">
    <a href="javascript:void(0);">
        <i class="fa fa-pencil fa-fw ly-side-lg" ng-if="!leftPannel"></i>

        <span ng-if="!!leftPannel"><i class="fa fa-angle-right" ng-class="{true:'fa-angle-down', false: 'fa-angle-right'}[toggle_love]"></i>个人列表</span></a>
</li>

<div ng-class="{true: 'show', false: 'hide'}[toggle_love]" style="display: none">

<li class="ly-side-item"><a href="javascript:void(0);" ng-click="Getlike()">
    <i class="fa fa-file-text fa-fw ly-side-lg" ng-if="!leftPannel"></i>
   <span ng-if="!!leftPannel"><i class="fa fa-file-text-o"></i>我喜欢听</span></a>
</li>

</div>
</ul>
<!-- close -->
<div class="ly-side-btn" ng-click="leftPannel= !leftPannel">
    <i class="fa" ng-class="{true:'fa-close ly-side-close', false:'fa-plus ly-side-open'}[leftPannel]"></i>
    <p class="ly-side-btn-p">{{leftPannel ? "关闭" : "展开"}}</p>
</div>