@charset "utf-8";
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@-webkit-keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}
@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}
/**
 * loading text cotent style
 */
.loading {
  text-align: center;
}
.loading .text {
  font-size: 15px;
  font-weight: 900;
  color: #0275d8;
}
/**
 * loading div style
 */
.sk-spinner {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.sk-spinner:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-spinner:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-spinner:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-spinner:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-spinner:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-spinner:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-spinner:nth-child(7) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-spinner:nth-child(8) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-spinner:nth-child(9) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-spinner-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
/**
 * checkbox style
 */
.mc-checkbox-warpper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}
.mc-checkbox {
  position: absolute;
  display: none;
}
.mc-checkbox[disabled] {
  cursor: not-allowed;
}
.mc-checkbox + label {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.mc-checkbox + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.mc-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 3px;
  border: 1px solid #c0c0c0;
}
.mc-checkbox + label:after {
  top: 0;
  left: 5px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
  position: absolute;
  display: none;
  content: '';
}
.mc-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}
.mc-checkbox[disabled] + label:hover,
.mc-checkbox[disabled] + label:before,
.mc-checkbox[disabled] + label:after {
  cursor: not-allowed;
}
.mc-checkbox[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
}
.mc-checkbox[disabled] + label:before {
  border-color: #e4e4e4;
}
.mc-checkbox:checked + label:before {
  animation-name: none;
}
.mc-checkbox:checked + label:after {
  display: block;
}
.mc-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb;
}
.mc-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}
/**
 * alter
 * 消息从左向右滑出
 */
.alert-wrapper {
  position: fixed;
  left: 0;
  bottom: 24px;
  z-index: 10;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.alert-wrapper .alert {
  position: relative;
  padding: 5px 30px 5px 5px !important;
  -webkit-animation: slideRight .1s linear;
  animation: slideRight .1s linear;
}
.alert-wrapper .alert span {
  font-size: .9rem;
  line-height: 1;
}
/**
 * nav
 * 导航样式
 */
.navbar-brand,
.nav-link {
  color: #fff;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #ccc;
}
.navbar .navbar-brand {
  font-size: 1.1rem;
}
.navbar .nav-link {
  font-size: .9rem;
}
.navbar .form-control {
  line-height: 1;
}
